<!DOCTYPE html>
<html>
  <head>
    <title>ElectroHacker</title>
  </head>
  <link rel="stylesheet" href="./css/style.css">
  <body>
    
    <header class="header ">
      <div class="container flex flex--between">
          
        <div class="col title">Electro<strong>Hacker</strong></div>
        
        
        <div class="col actions">
          <a href="#reload" id="reload" class="action">Reload</a>
        </div>
      </div>
      
      
    </header>
    
    <div class="container page flex" id="list">
      <div class="col col--12">Loading...</div>
    </div>
    
    <footer class="footer container flex">
      <div class="col col--12">
        HackerNews client on top of Electron  
      </div>
      
    </footer>

    <script>
      var _ = require('lodash');
      var shell = require('shell');
    </script>
    <script src="./src/zepto.min.js"></script>
    <script src="./src/hackernews.js"></script>
    <script>
      
      var compiled = _.template('<% _.forEach(items, function(item) { %><article  class="col col--12"><div class="flex"><a class="col" href="<%- item.url %>"><%- item.title %></a><span class="col col--12" ><%- item.type %>, by <%- item.by %>, <%- item.score %> points, <%- item.descendants %> comments</span></div></article><% }); %>');
      
      var _collection = {items: []};
      
      var place = $("#list");
      
      $('#reload').on('click', function(evt){
          
          _collection.items = [];
        
         place.html('<div class="col col--12">Refreshing...</div>');
          
          refresh();
      });
      
      place.on('click', 'a', function(evt){
        console.info(evt);
        
        console.info(evt.target.href);
        
        if(evt.target.href && evt.target.href.length > 0){
          shell.openExternal(evt.target.href);
        }
        else {
          alert('Empty URL');
        }
        
        evt.preventDefault();
        evt.stopPropagation();
      });
      
      $(document.body).on('hn:item', function(evt, data){
        console.log(evt, data);
        
        _collection.items.push(data);
        
        place.html(compiled(_collection));
      });
      
      
      function refresh(){
          HN.top(function(remoteData){
            
            
            console.log(remoteData);
            
            
        });
      }
      
      refresh();
      
      
      // console.log(hn.getItem(8863));
      // 
      // console.log(hn.getTopStories());
    </script>
  </body>
</html>